<form action="/uploads" method="post">
    <!-- <input type="text" name="filename" > -->
    <input type="file" name="csvFile" id="" placeholder="select your file" enctype="multipart/form-data" required>
    <button type="submit">submit</button>
</form>
</div>
