<body style="background-color: #FFF0CE;font-family: 'Times New Roman', Times, serif;">
<div >
    <h4>Filename : <%= filename %></h1>
    <div id="search-container">
    <label for="search"><strong>Search:</strong></label>
    <input type="text" id="search" name="search" value="">
    <button onclick="searchData()">Search</button>
  </div>
    <div id="csvTable">
      <table id="data-table">
        <thead>
          <tr id="t-head">
            <% headers.forEach(header => { %>
              <th style="border: 1px solid black;"><%= header %></th>
            <% }); %>
            
          </tr>
        </thead>
        <tbody>
          <% rows.forEach(row => { %>
            <tr>
              <% headers.forEach(header => { %>
                <td style="border: 1px solid black;"><%= row[header] %></td>
              <% }); %>
           
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    
  </body>
  
  </html>