
<!-- As a heading -->
<nav class="navbar " style="background-color: #8CB9BD;" >
    <div class="container-fluid justify-content-center" >
        <a class="navbar-brand" href="/" style="font-family: monospace;">
         CSV File Management App
          </a>
      <!-- <span class="navbar-brand mb-0 h1 " > -->

      </span>
    </div>
  </nav>


