<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
     <%=title%>
    </title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>
</head>

<body>
    <!-- include the header file -->
    <%- include("_header");%>
        <!-- include body -->
        <%- body%>
            <%- include("_footer");%>
            <script>
                function searchData() {
                  const input = document.getElementById('search').value.toLowerCase();
                  const table = document.getElementById('data-table');
                  const rows = table.getElementsByTagName('tr');
                  for (let i = 0; i < rows.length; i++) {
                    let found = false;
                    const cells = rows[i].getElementsByTagName('td');    
                    for (let j = 0; j < cells.length; j++) {
                      const cellText = cells[j].textContent.toLowerCase();
                      if (cellText.includes(input)) {
                        found = true;
                        break;
                      }
                    }
                    if (found) {
                      rows[i].style.display = '';
                    } else {
                      rows[i].style.display = 'none';
                    }
                  }
    // const headerRow = table.getElementsByTagName('thead').getElementsByTagName('tr');
    // const headers = headerRow.getElementsByTagName('th');
    // headerRow.style.display = '';

        // let headerVisible = false;
        // for (let k = 0; k < headers.length; k++) {
        //   const headerText = headers[k].textContent.toLowerCase();
        //   if (headerText.includes(input)) {
        //     headerVisible = true;
        //     break;
        //   }
        // }
        // if (headerVisible) {
        //   headerRow.style.display = '';
        // } else {
        //   headerRow.style.display = 'none';
        // }
                }
              </script>
</body>


</html>