<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <style>
      form li {
        list-style: none;
      }
    </style>
    <!-- bootstrap  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- bootstrap -->
  </head>

  <body>
    <!-- include the header file -->
    <%- include("_header");%>
    <!-- include body -->
    <%- body%>
    <!-- <%- include("_footer");%> -->
    <script>
      function searchData() {
        const input = document.getElementById("search").value.toLowerCase();
        const table = document.getElementById("data-table");
        const rows = table.getElementsByTagName("tr");

        let headerVisible = false;
        const headerRow = table
          .getElementsByTagName("thead")[0]
          .getElementsByTagName("tr")[0];

        for (let i = 0; i < rows.length; i++) {
          let found = false;
          const cells = rows[i].getElementsByTagName("td");
          for (let j = 0; j < cells.length; j++) {
            const cellText = cells[j].textContent.toLowerCase();
            if (cellText.includes(input)) {
              found = true;
              break;
            }
          }
          if (found) {
            rows[i].style.display = "";
            headerVisible = true;
          } else {
            rows[i].style.display = "none";
          }
        }

        if (headerVisible) {
          headerRow.style.display = "";
        } else {
          headerRow.style.display = "none";
        }
      }
    </script>

    <!-- bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap -->
  </body>
</html>
